@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.nav-list li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20%;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.wrap {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 20px;
}

/* menu */
.menu ul li {
    margin-left: 65px;
}

/* special */
.special ul li {
    margin-left: 65px;
}

/* from */

input,
textarea {
    padding: 5px 10px;
    margin-bottom: 10px;
    outline: 0;
    border-radius: 5px;
}


button {
    padding: 3px 8px;
    border-radius: 5px;
    outline: 0;
}

/* gallery */
img {
    width: 250px;
    height: 200px;
}

#gallery {
    margin: 20px 0;
}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

/* testimonial */
.testimonial {
    text-align: center;
}

.testimonial p {
    margin: 10px 0;
}

/* footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
}


/* form */

@media screen and (max-width:450px) {

    textarea,
    input {
        width: 100%;
    }
}